.row {
    display: flex;
}

.cell {
    width: 25px;
    height: 25px;
    border: 1px solid #a1a1a1;
    /* transform: translate(-2px); */
}

/* [data-row="2"] > [data-cell="4"] {
    background-color: blue;
} 
[data-row="2"] > [data-cell="5"] {
    background-color: blue;
}  */

/* atribute selector */
/* [class="cell"] {
    background-color: yellow;
} */